<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Cudadog Designs specializes in delivering timing-safe FPGA designs. In business since 2006, Cudadog began as a boutique firm specializing in porting ASIC designs multi-chip FPGA platforms. Over the years, Cudadog has evolved to provide full-service FPGA scoping, management, and solution delivery.</p>
                </div>
                <div class="col-lg-4">
                    <p> See the contact form below to be in touch. </p>
                </div>
            </div>
        </div>
    </section>
